@font-face {
    font-family: "HKNova-Medium";
    src: url("fonts/HKNova-Medium.ttf");
}
header img {
    width: 200px;
}
.toplinks {
    display: flex;
    flex-direction: row;
}
header div {
    font-family: "HKNova-Medium";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }

.topimgs{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
